%h3 Acerca de wikitec
%p El proyecto wikitec fué creado para dar acceso a la información de una manera colectiva y libre, de tal manera que los usuarios tengan la posibilidad de aportar conocimiento, y al mismo tiempo aprovechar al máximo de ello.
%p La plataforma wikitec utiliza wikis como medio de publicación, de tal forma que cualquier miembro de la comunidad puede editar, ya sea para mejorar o para corregir algún texto.
%p Las wikis se agrupan por categorías (materias) en las cuales se puede navegar y encontrar las wikis que corresponden en cada una de ellas.
%p Se ha agregado la posibilidad de publicar u obtener enlaces a descargas de tarjetas o mazos Anki, para una mejor calidad de estudio y colaboración del contenido ya creado por la comunidad.
%p También se ofrece la herramienta de crear grupos, añadiendo colaboradores a las wikis privadas para trabajar en algún proyecto de manera colectiva y satisfacer la necesidad de un trabajo/investigación en equipo.
%p Los usuarios de wikitec son responsables de su contenido, de tal manera que los derechos son de quien lo publica, al igual que algún plagio que pudiera existir.
%p Aviso: wikitec es un sitio que alberga información recolectada o construída por estudiantes para uso referencial, no distribuido o comercial, por lo cual existe una posibilidad casi nula de plagio por parte de los mismos.