%h1#title wikitec
%h3{:align => "center"} plataforma social de conocimiento colectivo para estudiantes, así de simple.
%br
%br
.row
  .col-md-4
    %h2 Crea wikis públicas o privadas
    %p Crea wikis públicas ilimitadas, o privadas (con cuenta premium), con imágenes y soporte Markdown.
  .col-md-4
    %h2 Organiza por materias
    %p Mantén organizadas las wikis por materia, de esta forma siempre encontrarás lo que busques.
  .col-md-4
    %h2 Comparte conocimiento
    %p Información es poder, comparte tus notas y guías, aporta a la comunidad, y aprende más cada día.
.row
  .col-md-4
    %h2 Forma grupos y colaboren en proyectos
    %p Reúne a tu equipo, trabajen en su propia wiki y capturen información de manera colectiva.
  .col-md-4
    %h2 Mejora tu memoria con repetición espaciada
    %p Con wikitec puedes publicar u obtener enlaces para descargar tarjetas o mazos Anki, y nunca olvidar lo que más te importa, descubre más acerca de Anki #{link_to "aquí", "http://ankisrs.net/", target: "_blank", class: 'link'}.
  .col-md-4
    %h2 Prepárate mejor
    %p Utiliza wikitec para obtener conocimiento creado por la comunidad, prepárate mejor para los examenes y pon en práctica las wikis como estructura de organización para tus notas y guías de estudio.