.row
  .col-md-10
    %h1 Public Wikis
  .col-md-2
    .wiki-buttons
      - if policy(Wiki.new).create?
        = link_to "New wiki", new_wiki_path, class: 'btn btn-default'
%br
%br
%table{:style => "width:100%", :border => "1"}
  - @wikis.each do |f|
    %tr
      %td= link_to f.title, f
      %td topic
      %td history
