%h1 Felicidades! Acabas de convertirte en Premium!
%h3 Disfruta de tus beneficios al instante
%p Crea wiki privadas ilimitadas y únete al exclusivo canal Slack de wikitec, en donde podrás formar parte de una excelente comunidad de estudiantes.
= link_to "Ir a mis Wikis privadas!", privates_wikis_path, class: 'btn btn-default'
/ %h1 Estatus del cargo
/ %h3= "El cargo por 229 pesos, tiene un status #{@charge.status}"
/ %p= @charge.inspect