/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

a{
  color: black;
}

a:hover{
  color: black;
  text-decoration: underline;
}

.link{
  text-decoration: underline;
}

.nav-tabs > li > a{
  color: black;
}

.user-info {
   margin-top: 9px;
}
 
.nav {
   margin-top: 5px;
}

.btn-default{
  background: #0781b0;
  color: white;
  border: none;
}

.btn-default:hover{
  background: #044b66;
  color: white;
  border: none;
}

.btn-danger{
  background: #b03607;
  color: white;
  border: none;
}

.btn-danger:hover{
  background: #7f2705;
  color: white;
  border: none;
}

.wiki-buttons {
  margin-top: 25px;
}


#title{
  text-align: center;
  text-decoration: underline;
}

#price-description{
  font-size: 12px;
}